
#title{
  text-align: center;
}
.content{
  padding: 0 10%;
  margin: 10%;
}
img{
  position: relative;
  width: 150px;
  grid-column: 1;
  border-radius: 75%;
  border: 2px;
}
.card{
  position: relative;
  display: grid;
  grid-template-columns: 40px auto 30px;
  background-color:bisque;
  width: 40%;
  margin-bottom: 5%;
  box-shadow: 0px 0px 6px 2px brown insert;
}
.card:hover{
  background-color: chocolate;
  box-shadow: none;
  color: white;
}
.date{
  position: relative;
  grid-column: 2;
}
.what{
  position: relative;
  grid-column: 2;
}
.where{
  position: relative;
  grid-column: 2;
}
.text{
  position: relative;
  grid-column: 2;
}
.dot{
  width: 15px;
  height: 15px;
  background-color: brown;
  position: absolute;
  right: -26%;
  top: 40%;
  border-radius: 100%;

}
.line{
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -2.5px;
  width: 5px;
  height: 160%;
  background-color: brown;
}
.card:nth-child(even){
  margin-left: 60%;
}
.card:nth-child(even) .dot{
  left: -26%;
}
.button{
  text-align: center;
}
#top{
  position: fixed;
  left: 0px;
  bottom: 100px;
}
a {
  color: green;
  text-decoration: none;
}
h1{
  font-size: 40px;
  text-align: center;
  border-bottom: 3px black solid;
  background-color: burlywood;
  margin: 0;
  padding: 18px;
}
ol{
  border-right: 3px black solid;
  width: 80px;
  margin: 0;
  padding: 20px;
}
body{
  margin: 0;
  background-color: blanchedalmond;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left: 50px;
}
#grid #context{
  padding-left: 40px;
}
@media(max-width:1000px){
  #grid{
    display: block;
  }
  ol{
    border-right: none;
}
h1{
border-bottom: none;
}
.card{
  width: 60%;
  margin-left: 10%;
}
.card:nth-child(even){
  margin-left: initial;
}
.line, .dot{
display: none;
}
}